/* shared and persistent style */
[data-tap-src] { border: thin black dotted; padding: 1em }

/* pre-loading style - allow for minimal HTML */
.tap-compact [data-tap-src]:before,
[data-tap-src].tap-compact:before { content: 'JS?'; font-size: 50% }
[data-tap-src]:before        { content: 'JavaScript fail?' }
[data-tap-src][class]:before { content: normal }


/* Key to colour codes.
 *
 * Unstyled, so the source document can do it.
 */
/* div.tap-key ol li */


/* all result-dependent colour definitions */
[data-tap-src].loading                       { background: #ffa500 }
[data-tap-src].pass                          { background: #80e080 }
[data-tap-src].fail                          { background: #ff3030 }

[data-tap-src].loading                   pre { border-color: #785311 }
[data-tap-src].pass                      pre { border-color: #107810 }
[data-tap-src].fail                      pre { border-color: #781010 }

[data-tap-src].pass.todo                     { background: #80ff00 }
[data-tap-src].fail.todo                     { background: #ffd0d0 }
[data-tap-src].pass.skip                     { background: #d0ffd0 }
[data-tap-src].fail.xfer                     { background: #800060 }

[data-tap-src].show.loading      div.control { background: #785311 }
[data-tap-src].show.pass         div.control { background: #107810 }
[data-tap-src].show.fail         div.control { background: #781010 }
[data-tap-src].pass.todo         div.control { background: #80ff00 }
[data-tap-src].fail.todo         div.control { background: #ffd0d0 }
[data-tap-src].show.pass.skip    div.control { background: #d0ffd0 }


/* classes & elements added by JavaScript */
[data-tap-src] pre {
  white-space: pre-wrap;
  overflow: auto;
/*  background-color: rgba(0,0,0, 0.8); * css3 */
  background: black;
  color: white;
  border: 2px grey solid;
  border-radius: 1.5ex;
  padding: 1.5ex;
}
[data-tap-src] a.raw {
  display: none;
}


[data-tap-src].pass pre {
  height: 3em;
  width: 3em;
  overflow: hidden;
  display: none;
}

[data-tap-src].show pre {
  display: block;
  position: fixed;
  top: 6em;
  left: 10%;
  right: 10%;
  bottom: 3em;
  width: auto;
  height: auto;
  overflow: auto;
}
[data-tap-src].show div.control {
  display: block;
  position: fixed;
  background: grey;
  top: 0;
  left: 10%;
  right: 10%;
  padding: 1ex;
  width: auto;
  height: auto;
}

[data-tap-src].show a.raw {
  display: inline;
}


/* Compact mode - requires CSS3 for :not() */
.tap-compact [data-tap-src]:not(.show),
 [data-tap-src].tap-compact:not(.show) {
  padding: 2px;
}
.tap-compact [data-tap-src]:not(.show) pre,
 [data-tap-src].tap-compact:not(.show) pre {
  display: none;
}
.tap-compact [data-tap-src]:not(.show) div.control button,
 [data-tap-src].tap-compact:not(.show) div.control button {
  display: none;
}
.tap-compact [data-tap-src]:not(.show) div.control button[data-op="Show"],
 [data-tap-src].tap-compact:not(.show) div.control button[data-op="Show"] {
  display: inline;
  font-size: 50%;
  padding: 0px;
  margin: 0px;
  border: none;
  text-decoration: underline;
  background: none;
}
