/* shared and persistent style */
[data-tap-src] { border: thin black dotted; padding: 1em }

/* pre-loading style - allow for minimal HTML */
[data-tap-src]:before        { content: 'JavaScript fail?' }
[data-tap-src][class]:before { content: normal }


/* classes & elements added by JavaScript */
[data-tap-src] pre {
  white-space: pre-wrap;
  overflow: auto;
  background: black;
  color: white;
  border: 2px grey solid;
  border-radius: 1.5ex;
  padding: 1.5ex;
}

[data-tap-src].loading {
  border: 5px yellow solid;
}

[data-tap-src].fail {
  background: #a00000;
}

[data-tap-src].pass {
  background: #00a000;
}
[data-tap-src].pass pre {
  height: 3em;
  width: 3em;
  overflow: hidden;
  display: none;
}

/* in [data-tap-src].show the !important are vs. the .tap-compact version */
[data-tap-src].show pre {
  display: block  ! important;
  position: fixed;
  top: 6em;
  left: 10%;
  right: 10%;
  bottom: 6em;
  width: auto;
  height: auto;
  overflow: auto;
}
[data-tap-src].show div.control {
  display: block;
  position: fixed;
  background: grey;
  top: 3em;
  left: 10%;
  right: 10%;
  padding: 1ex;
  width: auto;
  height: auto;
}
[data-tap-src].show div.control button {
  display: inline ! important;
  font-size: 100% ! important;
}

/* Experimental: a compact mode */
.tap-compact [data-tap-src],
 [data-tap-src].tap-compact {
  padding: 2px;
}
.tap-compact [data-tap-src] pre,
 [data-tap-src].tap-compact pre {
  display: none;
}
.tap-compact [data-tap-src] div.control button,
 [data-tap-src].tap-compact div.control button {
  display: none;
}
.tap-compact [data-tap-src] div.control button[data-op="Show"],
 [data-tap-src].tap-compact div.control button[data-op="Show"] {
  display: inline;
  font-size: 50%;
  padding: 0px;
  margin: 0px;
  border: none;
  text-decoration: underline;
  background: none;
}
